<% provide(:title, "About") %>

<div class="row">
    <div class="col-md-7">
        <div class="about_image"><%= image_tag("synonym_image.jpg") %></div>
        <div class="help_link"><h2>Get help on this service at <a href= "https://kredo.jp/">Kredo</a></h2></div>
    </div>
    <div class="col-md-5 explanation">
        <ul class="text-center">
            <i class="fas fa-laptop fa-lg"></i><li> Essential words selected by computer to get 100 </li>
            <i class="fab fa-medapps fa-lg"></i><li> Addopted mnemoric system using a synonym and the origin of a wordetymology</li>
            <i class="fab fa-phoenix-framework fa-lg"></i><li> Parfect master of the words used frequently in TOEFL </li>
        </ul>
    </div>
</div>