<% provide(:title, "Admin Page") %>


<h1>Admin page</h1>
<h3>Which do you want to manage?</h3>
<div><%= link_to "Members", admin_users_path %></div>
<div><%= link_to "Courses and Lessons", admin_categories_path %></div>