
<div class="container">
    
	<div class="top_image_main"><%= image_tag("top_images/top_image_main.png") %></div>
	<div class="top_image_sub"><%= image_tag("top_images/top_image_sub.png") %></div>
    <p> Essential words selected by computer to get 100 </p>
    <p> Addopted mnemoric system using a synonym and the origin of a wordetymology</p>
    <p> Parfect master of the words used frequently in TOEFL </p>
</div>