
<div class="container">
    <div class="top_images">
        <div id="top_image_main"><img alt="top_image_main" src="/assets/TOEFLE_TEST_image.png" /></div>
        <div id="top_image_sub"><img alt="top_image_main" src="/assets/TOEFLE_TEST_image.png" /></div>
    </div>
   
    <p> Required words selected by computer to get 100 </p><i class="fa fa-linode"></i>
    <p> Effective mnemoric with the origin of a wordetymology and a synonym </p><i class="fa fa-medapps"></i>
    <p> Parfect master of the words which appear frequently </p><i class="fa fa-hotjar"></i>
    <div><small>This lesson project is supported by Framgia Ph</small></div>

</div>