<div id="category_btn">
    <% if category.lessons.find_by(user: current_user) %>
        <%= render 'accomplished', lesson: category.lessons.find_by(user: current_user) %>
    <% else %>
        <%= render 'start', category: category %>
    <% end %>
</div>