<div id="category_btn">
    <% if current_user.lesson_finished?(category) %>
        <%= render 'accomplished', lesson: category.lessons.find_by(user: current_user) %>
    <% elsif current_user.lesson_suspended?(category) %>
        <%= render 'restart', lesson: category.lessons.find_by(user: current_user) %>
    <% else  %>
    	<%= render 'start', category: category %>
    <% end %>
</div>