<footer>
    <div class="container">
        <small><div class="copy"> &copy; 2018 Riho Okubo</div></small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Lesson", categories_path %></li>
                <li>This lesson is provided by <%= link_to "Framgia", "https://framgia.com/" %></li>
            </ul>
        </nav>
</footer>