<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "E-learning System", '#', id: "logo" %>
			<nav>
				<ul class="nav navbar-nav navbar-fixed-right">
					<li><%= link_to "Dashboard", '#' %></li>
					<li><%= link_to "Help", '#' %></li>
					<li><%= link_to "About", '#' %></li>
				</ul>
			</nav>
	</div>
</header>